.list {
    margin: 12px 18px;

    &__table {
        border-collapse: collapse;
        border-spacing: 0;
        caption-side: top;
        empty-cells: show;
        table-layout: auto; // auto | fixed
        width: 100%;

        &_head {
            background-color: #e0e0e0;
            font-size: large;
            font-weight: bold;
        }
    
        &_body {
            font-size: small;
            font-weight: normal;
    
            &:nth-child(3n) {
                background-color: #eeeeee;
            }
    
            &:hover{
                background-color: #aaccaa !important;
            }
        }
    
        &_cell {
            border: 1px dotted grey;
            padding: 0;
        }
    }
}